 html {
	background-color: whitesmoke;
	font-size: 16px;
}

body {
    width: auto%;
    margin: 0% 10% 0% 10%;
	color: gray;
	font-family: wol_reg, segoe ui, helvetica neuve, sans-serif;
	background-color: white;
	font-weight: 600;
}

#header {
	height: 35px;
	line-height: 35px;
	text-align: right;
	background-color: white;
	float: right;
}


#banner {
	width: 100%;
	height: 130px;
	line-height: 130px;
	text-align: right;
	background-color: white;
}

#banner img {
	height: 130px;
	width: auto;
	float: left;
}

.time {
	float: right;
}

.time a:link, a:visited{
	background-color: #008A32;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 22px;
	margin: 0px;
}

.time a:hover {
	background-color: white;
	border: 1px solid #008A32;
	color: #008A32;
}

.donate {
	margin: 0;
	float: right;
}

input[type=submit]{
	font-family: wol_reg, segoe ui, helvetica neuve, sans-serif;
	font-size: 16px;
	font-weight: 600;
	background-color: #008A32;
	border: none;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 22px;
	margin: 0px;
}

input[type=submit]:hover {
	background-color: white;
	color: #008A32;
	cursor: pointer;
}

input[type=submit]:focus {
	outline: 0;
}

nav {
	background-color: #124b8d;
	margin: 0px;
	padding: 0px;
	line-height: 65px;
	height: 65px;
	width: 100%;
	text-align: center;	
}

ul {
	list-style: none;
	text-align: center;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

ul li {
	display: table-cell;
	text-align: center;
}

#slideShowImages {
	margin: 0px;
	padding: 0px;
	max-width: 100%;
}

.wrapper {
	width: 100%;
	height: auto;
}

.image {
	width: 100%;
	height: auto;
}

nav a:link, a:visited {
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 22px;
	margin: 0px;	
}

ul li a:hover {
 background-color: white;
 color: #124b8d;
}

#header a:link, a:visited {
	text-align: center;
	text-decoration: none;
	color: #124b8d;
	padding: 7px 22px 7px 22px;
	margin: 0px;
}

#header a:hover {
	color: white;
	background-color: #124b8d;
}

#main {
	width: 100%;
	margin: 0;
	text-align: center;
	font-weight: 400;
}

#footer {
	margin: auto;
	font-size: 60%;
	text-align: center;
}
